{% load i18n %}
{% load form_helper %}
{% load crowdfunding %}


<div class="card mb-3 mt-3" id="crowdfunding-form">
  <div class="card-header">
    <h3 class="float-left">{% trans "Crowdfunding" %}</h3>
    {% if crowdfunding.date_end %}
      <time class="float-right" title="{{ crowdfunding.date_end }}" datetime="{{ crowdfunding.date_end | date:'c' }}">noch {{ crowdfunding.date_end|timeuntil }}</time>
    {% endif %}
  </div>
  <div class="card-body">

    {% include "froide_crowdfunding/includes/crowdfunding_meta.html" with crowdfunding=crowdfunding %}
    <hr/>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-8">
        <h4>Bedingungen</h4>
        <ul>
          <li>
            <span class="fa fa-check"></span>
            Wenn das Crowdfunding sein Ziel erreicht, wird das Geld dem oben genannten Zweck zugeführt.
          </li>
          <li>
            <span class="fa fa-gift"></span>
            Wenn nach Zweckerfüllung Geld übrig bleibt oder (z.B. bei Klageerfolg) zurückkommt, wird es als allgemeine Spende an FragDenStaat.de verbucht.
          </li>
          <li>
            <span class="fa fa-ban"></span>
            Ist das Crowdfunding nicht erfolgreich, wird der eingenommene Betrag als allgemeine Spende an FragDenStaat.de verbucht.
          </li>
          <li>
            <span class="fa fa-heart"></span>
            Über das Crowdfunding spenden Sie an den gemeinnützigen Trägerverein von FragDenStaat.de. Sie können die Spende steuerlich geltend machen.
          </li>
        </ul>
      </div>
    </div>
    <hr/>
    <h4>
      Wie viel können Sie beitragen?
    </h4>
    <form method="post" action="{% url 'crowdfunding:crowdfunding-start_contribution' pk=crowdfunding.pk %}#crowdfunding-form">
      {% csrf_token %}
      {% if crowdfunding_contribute_form %}
        {% render_form crowdfunding_contribute_form %}
      {% else %}
        {% with crowdfunding_form=request.user|get_crowdfunding_form %}
          {% render_form crowdfunding_form %}
        {% endwith %}
      {% endif %}
      <div class="text-right">
        <button class="btn btn-primary btn-lg" type="submit">
          {% trans "Next step &rarr;" %}
        </button>
      </div>
    </form>
  </div>
</div>
