<div class="row justify-content-center">
  <div class="col-md-8 col-lg-8">
    <h4>Bedingungen</h4>
    <ul>
      <li>
        <span class="fa fa-check"></span>
        Wenn das Crowdfunding sein Ziel erreicht, wird das Geld dem oben genannten Zweck zugeführt.
      </li>
      <li>
        <span class="fa fa-gift"></span>
        Wenn nach Zweckerfüllung Geld übrig bleibt oder (z.B. bei Klageerfolg) zurückkommt, wird es als allgemeine Spende an FragDenStaat.de verbucht.
      </li>
      <li>
        <span class="fa fa-ban"></span>
        Ist das Crowdfunding nicht erfolgreich, wird der eingenommene Betrag als allgemeine Spende an FragDenStaat.de verbucht.
      </li>
      <li>
        <span class="fa fa-heart"></span>
        Über das Crowdfunding spenden Sie an den gemeinnützigen Trägerverein von FragDenStaat.de. Sie können die Spende steuerlich geltend machen.
      </li>
    </ul>
  </div>
</div>