{% load i18n %}

{% load markup %}

<div class="row">
  <div class="col-md-8">
    <h5 class="card-title">
      {{ crowdfunding.title }}
    </h5>
  </div>
  {% if not object == crowdfunding.request and crowdfunding.request %}
    <div class="col-md-4 text-right">
      <a class="btn btn-secondary btn-sm" href="{{ crowdfunding.request.get_absolute_url }}">
        {% trans "go to request" %}
      </a>
    </div>
  {% endif %}
</div>

{% include "froide_crowdfunding/includes/crowdfunding_progress.html" with crowdfunding=crowdfunding %}

<p class="lead">
  {% if crowdfunding.is_finished %}
  {% if crowdfunding.user.private %}
    {% blocktrans with amount=crowdfunding.amount_raised %}
      This user crowdfunded <strong>{{ amount }}&nbsp;€</strong>.
    {% endblocktrans %}
  {% else %}
    {% blocktrans with amount=crowdfunding.amount_raised name=crowdfunding.user.get_full_name %}
      {{ name }} crowdfunded <strong>{{ amount }}&nbsp;€</strong>.
    {% endblocktrans %}
  {% endif %}
  {% else %}
    {% if crowdfunding.user.private %}
      {% blocktrans with amount=crowdfunding.amount_needed %}
        This user is crowdfunding <strong>{{ amount }}&nbsp;€</strong>.
      {% endblocktrans %}
    {% else %}
      {% blocktrans with amount=crowdfunding.amount_needed name=crowdfunding.user.get_full_name %}
        {{ name }} is crowdfunding <strong>{{ amount }}&nbsp;€</strong>.
      {% endblocktrans %}
    {% endif %}
  {% endif %}
</p>
<h4>{% trans "Here's why this matters to the crowdfunder." %}</h4>
<blockquote>
  <div class="card-text">
    {{ crowdfunding.description|markdown }}
  </div>
</blockquote>

<h4>{% trans "Why this information is important to the public." %}</h4>
<blockquote>
  <div class="card-text">
    {{ crowdfunding.public_interest|markdown }}
  </div>
</blockquote>
