{% load i18n %}
{% load form_helper %}
{% load crowdfunding %}

<form method="post" action="{% url 'crowdfunding:crowdfunding-start_contribution' pk=crowdfunding.pk %}#crowdfunding-form">
  {% csrf_token %}
  {% if crowdfunding_contribute_form %}
    {% render_form crowdfunding_contribute_form %}
  {% else %}
    {% with crowdfunding_form=request.user|get_crowdfunding_form %}
      {% render_form crowdfunding_form %}
    {% endwith %}
  {% endif %}
  <div class="text-right">
    <button class="btn btn-primary btn-lg" type="submit">
      {% trans "Next step &rarr;" %}
    </button>
  </div>
</form>
