{% load i18n %}
{% load form_helper %}
{% load crowdfunding %}

{% if crowdfunding_contribute_urlname %}
  {% url crowdfunding_contribute_urlname pk=crowdfunding.pk as form_url %}
{% else %}
  {% url 'crowdfunding:crowdfunding-start_contribution' pk=crowdfunding.pk as form_url %}
{% endif %}

<form method="post" action="{{ form_url }}#crowdfunding-form">
  {% csrf_token %}
  {% if crowdfunding_contribute_form %}
    {% render_form crowdfunding_contribute_form %}
  {% else %}
    {% with crowdfunding_form=request.user|get_crowdfunding_form %}
      {% render_form crowdfunding_form %}
    {% endwith %}
  {% endif %}
  <div class="text-end">
    <button class="btn btn-primary btn-lg" type="submit">
      {% trans "Next step &rarr;" %}
    </button>
  </div>
</form>
