{% extends "froide_crowdfunding/base.html" %}

{% load i18n %}


{% block app_body %}
<div class="card mb-3 mt-3" id="crowdfunding-form">
  <div class="card-header">
    <h3 class="float-left">{% trans "Crowdfunding" %}</h3>
    {% if crowdfunding.date_end %}
      <time class="float-right" title="{{ crowdfunding.date_end }}" datetime="{{ crowdfunding.date_end | date:'c' }}">noch {{ crowdfunding.date_end|timeuntil }}</time>
    {% endif %}
  </div>
  <div class="card-body">
    {% include "froide_crowdfunding/includes/crowdfunding_meta.html" with crowdfunding=crowdfunding %}
  </div>
  <div class="card-footer text-right">
    <a href="{{ crowdfunding.get_start_contribution_url }}" class="btn btn-success btn-lg">
      {% trans "Add your contribution" %}
    </a>
  </div>
</div>

{% if contributions %}
  <div class="row">
    <div class="col-md-7">
      <h3>{% trans "Contributions" %}</h3>
      <ul class="list-group">
        {% for contribution in contributions %}
          <li class="list-group-item {% if contribution.user == request.user %}list-group-item-{{ contribution.status_color }}{% endif %}">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                {{ contribution.amount }} €
                {% if contribution.status != 'success' %}
                  <small>{{ contribution.get_status_display }}</small>
                {% endif %}
              </h5>
              <time datetime="{{ contribution.timestamp|date:'c' }}">
                {{ contribution.timestamp|timesince }}
              </time>
            </div>
            {% if contribution.note %}
              <p class="mb-1">{{ contribution.note|linebreaksbr }}</p>
            {% endif %}
            <div class="d-flex w-100 justify-content-between">
              {% if contribution.public %}
                <small>
                  {{ contribution.first_name }} {{ contribution.last_name }}
                </small>
              {% elif contribution.user == request.user %}
                <small>
                  {% trans "from you (name not public)" %}
                </small>
              {% endif %}
              {% if contribution.user == request.user or request.user.is_superuser %}
                <a href="{{ contribution.get_absolute_url }}">
                  {% trans "Show details" %}
                </a>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
{% endblock %}
